<HTML:5>


    <head>
        <title>Chinook</title>
    </head>
    <body>
        <h1>Chinook</h1>
        <p>Esta es la página de inicio de la aplicación web de Chinook.</p>
    </body>
</HTML:5>

<h2>django-admin startproject chinook  # Crea un proyecto llamado chinook</h2>

<h2>python manage.py startapp web   # Crea una aplicación llamada web
</h2>
<h2>python manage.py inspectdb    # Muestra la estructura de la base de datos</h2>

<h2>python manage.py inspectdb >.\web\models.py # Guarda la estructura de la base de datos en un archivo llamado models.py</h2>

<h2>python manage.py makemigrations # Crea un archivo de migración</h2>

<h2>python manage.py migrate --fake-initial # Aplica las migraciones y crea la base de datos</h2>


 