{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-success text-white">
      <h2>Iniciar Sesión</h2>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_username" class="form-label">Usuario</label>
          {{ form.username }}
        </div>
        <div class="mb-3">
          <label for="id_password" class="form-label">Contraseña</label>
          {{ form.password }}
        </div>
        {% if form.errors %}
        <div class="alert alert-danger">Usuario o contraseña incorrectos</div>
        {% endif %}
        <button type="submit" class="btn btn-success">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
