<footer class="footer mt-auto py-3 bg-success text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <p class="text-justify">
                    laboratorios farmacéuticos, desarrollado por Yuri Urzua Lebuy con Django y Bootstrap.
                </p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'laboratorio_list' %}" class=" text-decoration-none">Laboratorios</a></li>
                    <li><a href="{% url 'admin:index' %}" class=" text-decoration-none">Administración</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled ">
                    <li>Email: contacto@laboratorio.com</li>
                    <li>Teléfono: (01) 123-4567</li>
                    <li>Dirección: Av. Principal 123</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col text-center">
                <p class="mb-0">© {% now "Y" %} Sistema de Laboratorios. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
