
{% extends 'base.html' %}

{% block content %}
<h1>Productos</h1>
<table class="table table-hover table-success table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for producto in productos %}
        <tr>
            <td>N° {{ producto.id }}</td>
            <td>- {{ producto.nombre }}</td>
            <td>" {{ producto.descripcion }} "</td>
            <td>${{ producto.precio }} CLP</td>
            <td>
                <a href="{% url 'producto-update' producto.pk %}" class="btn btn-sm btn-primary">"Editar"</a>
                <a href="{% url 'producto-delete' producto.pk %}" class="btn btn-sm btn-danger">"Eliminar"</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{% url 'producto-create' %}" class="btn btn-outline-success">Agregar Producto</a>
</div>

{% endblock %}
